h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 240201517 - 01 Identificar  modelos  matemáticos  de acuerdo con los requerimientos  del problema planteado en contextos sociales y  productivo.