h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('1', 'Conjuntos numéricos', 'main.html#page/conjuntos/')
                    +navTemaItem('2', 'Operaciones aritméticas', 'main.html#page/operaciones/')
                    +navTemaItem('3', 'Razones y proporciones', 'main.html#page/razones/')