.container#operaciones

    .header-ecored
        h1 2. Operaciones aritméticas
    
    .jumbotron.bg-white.shadow
        h3.txt-color1 Recordemos
        p Desde que el hombre empezó a utilizar los números para cuantificar todo lo relacionado con agricultura, población y demás aspectos relacionados con los números, también empezó a realizar operaciones como añadir y quitar unidades a un conjunto determinado.
        p A partir de esto surgió la aritmética, la cual es la rama de las matemáticas que relaciona los números y las diferentes operaciones que se pueden realizar con los números (Suma, resta, multiplicación y división) así mismo las propiedades implícitas en dichas operaciones.
        img(src="assets/images/pages/img13.png", style="max-width: 80%").img-fluid.img-a
        p En este tema nos ocuparemos de las cuatro operaciones básicas: suma, resta, multiplicación y división en los diferentes conjuntos numéricos o los números reales. Así mismo también trabajaremos la potenciación y radicación y sus propiedades.
        p Pero debemos tener en cuenta una regla que para las operaciones combinadas en el conjunto de los números reales es necesario conocer la jerarquía de operaciones.
        p Pero qué es la jerarquía de operaciones, comencemos enunciando de qué trata:
    
    br#jerarquia

    .header-ecored
        h2 2.1 Jerarquía de operaciones
    
    .jumbotron.bg-white.shadow
        p La jerarquía de operaciones básicamente es una regla que nos determina cuáles operaciones se deben realizar primero en un determinado ejercicio que contenga varias operaciones como: sumas, restas, multiplicaciones, paréntesis, potencias y raíces. Para esto lo primero que debe realizarse es las operaciones que se encuentren agrupadas en paréntesis, llaves y corchetes, luego deben resolverse las potencias y raíces, posteriormente las divisiones y multiplicaciones en orden (De izquierda a derecha), y por último debemos resolver las sumas y restas.
        img(src="assets/images/pages/img14.png", style="max-width: 80%").img-fluid.img-a
        p Veamos un ejemplo:
        .row.justify-content-around.mb-4
                .col-8.bg-color1.text-center
                    p.mb-0 3 x ( 2 x 4
                        sup 3 
                        | ) / 4
        .row.justify-content-around
            .col-8
                h3.txt-color1 Paso 1
                p Primero se resuelve lo que está dentro de paréntesis:
            .col-8.bg-color1.text-center.mb-4
                    p.mb-0 ( 2 x 4
                        sup 3 
                        | )
            .col-8
                p Dentro del paréntesis se resuelve el exponente 4
                    sup 3
                    |, que es igual a #[b 64]
            .col-8.bg-color1.text-center.mb-4
                    p.mb-0 2 x 64 = #[b 128]
            .col-8
                h3.txt-color1 Paso 2
                p Se resuelve la multiplicación ya que se encuentra primero (a la izquierda).
            .col-8.bg-color1.text-center.mb-4
                    p.mb-0 3 x 128 = #[b 384]
            .col-8
                h3.txt-color1 Paso 3
                p Finalmente, se realiza esta división.
            .col-8.bg-color1.text-center.mb-4
                    p.mb-0 384 / 4 = #[b 96]
    
    br#operaciones1

    .header-ecored
        h2 2.2 Operaciones en números enteros

    .jumbotron.bg-white.shadow
        h3.txt-color1 Suma y resta de números enteros
        .row.mt-5.justify-content-center
            .col-11
                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                        p.mt-1 #[b Cuando los números enteros tienen el mismo signo].
                        p Se suman los valores y se deja el signo que tengan, si son positivos signo positivo y si son negativos signo negativo. Si no se pone nada delante del número se entiende que es +.
                        p #[b Ejemplos números enteros del mismo signo]
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 ( + 5 ) + ( + 4 ) = + 9
                        p Es lo mismo que.
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 5 + 4 = 9
                        p #[b (- 5 ) + ( - 4 ) = - 9]. Es lo mismo que.
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 - 5 - 4 = - 9
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                        p.mt-1 #[b Cuando los números enteros tienen distinto signo].
                        p Se restan sus valores absolutos y se pone el signo del sumando de mayor valor absoluto. (Se restan y se deja el signo del más grande en valor absoluto).
                        p #[b Ejemplos números enteros de distinto signo]
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b A.] ( + 20 ) + ( - 10 ) = 20 - 10 = + 10
                        p 20 - 10 = 10, el más grande es + 20, se pone + 10
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b B.] ( - 8 ) + ( + 3 ) = - 8 + 3 = - 5
                        p 8 - 3 = 5, el más grande es el - 8, se pone - 5
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b C.]  ( + 11 ) + ( - 2) = 11 - 2 = + 9
                        p 11 - 2 = 9, el más grande es el 11, se pone + 9
        h3.txt-color1.mt-5 Multiplicación y división de números enteros
        p Para estas operaciones es importante enunciar las reglas de los signos como se muestra en la siguiente imagen.
        img(src="assets/images/pages/img15.png", style="max-width: 80%").img-fluid.img-a1
        .row.justify-content-center.mb-4
            .col-8.bg-color1
                h3.txt-color2.text-center Reglas de signos
                .row
                    .col-6
                        h4.txt-color2.text-center Multiplicar
                        br
                        p.text-center + por + = +
                        p.text-center - por - = +
                        p.text-center + por - = -
                        p.text-center - por + = -
                    .col-6
                        h4.txt-color2.text-center Dividir
                        br
                        p.text-center + entre + = +
                        p.text-center - entre - = +
                        p.text-center + entre - = -
                        p.text-center - entre + = -
        .row.mt-5.justify-content-center
            .col-11
                .list.align-items-start
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt
                        p.mt-1 #[b Para multiplicar dos números enteros].
                        p Se multiplican sus valores absolutos y se aplica la regla de los signos. Cuando van dos signos seguidos hay que separarlos utilizando paréntesis.
                        p #[b Ejemplo]
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b A.] ( + 8 ) * ( + 3 ) = + 24
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b B.] ( - 3 ) * ( - 2 ) = + 6
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt
                        p.mt-1 #[b Para dividir dos números enteros].
                        p Se divide el dividendo entre el divisor y se aplica la regla de los signos. Una división es exacta cuando el resto es 0.
                        p #[b Ejemplo]
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b A.] ( - 15 ) ÷ ( 15 ) = - 1
                        .row.justify-content-around.mb-4
                            .col-8.bg-color1.text-center
                                p.mb-0 #[b B.] 8 ÷ 4 = + 2
        p Ahora realicemos un problema en el que podamos utilizar la información presentada.
        .row.rounded.bg-color1.align-items-center
            .col
                p En un depósito hay 1200 litros de leche. Por la parte superior un tubo vierte en el depósito 25 litros por minuto, y por la parte inferior por otro tubo salen 35 litros por minuto. #[b ¿Cuántos litros de leche habrá en el depósito después de 20 minutos de funcionamiento?]
            .col-auto
                img(src="assets/images/pages/img16.png", style="max-width: 80%").img-fluid.img-a1
        .row.justify-content-around.mt-5
            .col-5.text-center
                img(src="assets/images/pages/img17.png", style="max-width: 50%").img-fluid.img-a1
                p 1000 litros de leche
            .col-5.text-center
                img(src="assets/images/pages/img18.png", style="max-width: 50%").img-fluid.img-a1
                p 850 Litros de leche
        h3.txt-color2.mt-5 Respuesta
        .row.justify-content-center
            .col-11
                h3.txt-color1.mt-4 Paso 1
                p Lo primero que debemos realizar es pasar el problema a términos aritméticos para empezar a resolverlo y sacamos los datos cuantitativos.
                h3.txt-color1.mt-4 Paso 2
                p 1200 litros es la cantidad inicial de leche.
                h3.txt-color1.mt-4 Paso 3
                p Luego debemos calcular la cantidad de leche que ingresa al depósito en los 20 minutos de funcionamiento: 25 litros que ingresan en un minuto lo multiplicamos por la cantidad de minutos que son veinte:
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 ( 25 litros * 20 minutos )
                h3.txt-color1.mt-4 Paso 4
                p Así mismo calculamos la cantidad de leche que sale del depósito en los mismo 20 minutos: 35 litros que salen por minuto lo multiplicamos por la cantidad de minutos que son veinte:
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 ( 35 litros * 20 minutos )
                h3.txt-color1.mt-4 Paso 5
                p Ahora calculamos la cantidad total de leche que queda en el depósito después de 20 minutos.
                p A la leche que hay en el depósito, le sumamos la leche que ingresa y le restamos la leche que sale y quedaría una expresión aritmética de esta forma:
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 1200 litros + ( 25 litros * 20 minutos ) – ( 35 litros * 20 minutos )
                p Resolvemos los paréntesis y nos queda.
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 1200 litros + 500 litros – 700 litros = 1000 litros
                p Luego realizamos las sumas y restas y nos da como resultado:
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 #[b 1000 litros quedan en el depósito]
        .row.justify-content-center.align-items-center
            .col-4
                h1.text-right.mb-0 Respuesta Correcta
            .col-auto
                img(src="assets/images/pages/img17.png", style="max-width: 50%").img-fluid.img-a1
            .col-4
                p.mb-0 1000 litros de leche
    
    br#operaciones2

    .header-ecored
        h2 2.3 Operaciones en los números racionales
    
    .jumbotron.shadow.bg-white
        p Recordemos que los números racionales también pueden ser nombrados como fracciones. Y que una fracción es dividir cualquier cantidad en cantidades iguales y tomar algunas de esas partes.
        img(src="assets/images/pages/img19.png", style="max-width: 100%").img-fluid.img-a
        p Empecemos a realizar operaciones de suma y resta de fracciones homogéneas. Son aquellas que tienen igual denominador. 
        p Para sumar o restar números racionales homogéneos se coloca el mismo denominador y se suman o restan los numeradores así:
        img(src="assets/images/pages/img20.png", style="max-width: 80%").img-fluid.img-a
        p Ahora miremos el proceso que realizamos cuando los denominadores son distintos, lo que llamamos #[b operaciones con fracciones heterogéneas].
        p Para adicionar o sustraer números racionales heterogéneos, se multiplican los denominadores entre sí y ese será el denominador de la respuesta, luego se multiplica el numerador de la primera fracción por el denominador de la segunda.  Se coloca el mismo signo (de operación) y se procede a multiplicar el numerador de la segunda fracción por el denominador de la primera fracción.  En cada caso se debe simplificar la respuesta si es posible.
        h3.txt-color2.mt-5 Ejemplo
        .row.justify-content-around.mb-4
            .col-8.bg-color1.text-center
                p.mb-0 3 / 4 + 5 / 7
        .row.justify-content-center
            .col-11
                h3.txt-color1.mt-4 Paso 1
                p Se multiplican los denominadores.
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 4 * 7 = #[b 28]
                h3.txt-color1.mt-4 Paso 2
                p Se multiplican el numerador de la primera fracción por el denominador de la segunda.
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 3 * 7 = #[b 21]
                h3.txt-color1.mt-4 Paso 3
                p Se coloca el signo más. ( + )
                h3.txt-color1.mt-4 Paso 4
                p Se multiplica el numerador de la segunda fracción por el denominador de la primera.
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 4 * 5 = #[b 20]
                h3.txt-color1.mt-4 Paso 5
                p Por último, sumamos los dos números que nos quedan en el en la parte de arriba.
                .row.justify-content-around.mb-4
                    .col-8.bg-color1.text-center
                        p.mb-0 21 + 20 = 41
        img(src="assets/images/pages/img21.png", style="max-width: 80%").img-fluid.img-a
        p Ahora veamos en que se puede aplicar la suma y resta de fracciones en un caso cotidiano.
        .row.rounded.bg-color1.align-items-center
            .col
                p Un campesino siembra #[b 2 / 7] de su finca con papa y #[b 1 / 5] con tomate. Responde:
            .col-auto
                img(src="assets/images/pages/img22.png", style="max-width: 80%").img-fluid.img-a1
        .row.justify-content-center.mt-4
            .col-11
                p #[b A.] ¿Qué fracción de su finca tiene sembrada?
                p #[b B.] ¿Qué fracción de su finca está sin sembrar?
        img(src="assets/images/pages/img23.png", style="max-width: 80%").img-fluid.img-a
        p Para el primer interrogante debemos sumar las dos porciones de finca que están sembradas.
        img(src="assets/images/pages/img24.png", style="max-width: 80%").img-fluid.img-a
        p La fracción de finca que se encuentra sembrada con papa y tomate es #[b 17 / 35].
        .row.justify-content-center.align-items-center
            .col-4
                h1.text-right.mb-0 Respuesta Correcta
            .col-auto
                img(src="assets/images/pages/img25.png", style="max-width: 50%").img-fluid.img-a1
            .col-4
                p.mb-0 17 / 35
        .hr
        p Para dar respuesta al segundo interrogante procedemos de la siguiente manera.
        .row.rounded.bg-color1.align-items-center
            .col-auto
                img(src="assets/images/pages/img26.png", style="max-width: 80%").img-fluid.img-a1
            .col
                p La fracción que representa el total de la finca puede expresarse como #[b 35 / 35] que es igual a #[b 1], ya que todo el terreno expresado en fracciones debe ser igual a 1 porque sería el terreno en general.
        img(src="assets/images/pages/img27.png", style="max-width: 80%").img-fluid.img-a
        p Ahora procedemos a realizar la resta así:
        img(src="assets/images/pages/img28.png", style="max-width: 80%").img-fluid.img-a
        p O bien también se puede realizar de la siguiente forma:
        img(src="assets/images/pages/img29.png", style="max-width: 80%").img-fluid.img-a
        p Recordemos que es una resta de fracciones homogéneas por lo tanto se pone en el resultado el mismo denominador y se operan los numeradores.
        .row.justify-content-center.align-items-center
            .col-4
                h1.text-right.mb-0 Respuesta Correcta
            .col-auto
                img(src="assets/images/pages/img25.png", style="max-width: 50%").img-fluid.img-a1
            .col-4
                p.mb-0 18 / 35
    
    br#multiplicaciones

    .header-ecored
        h2 2.4 Multiplicación de números racionales (fracciones)
    
    .jumbotron.shadow.bg-white
        p El producto de dos números racionales es otro número racional y se realiza multiplicando los numeradores entre sí y denominadores entre sí.
        p Pero mejor veamos un ejemplo:
        img(src="assets/images/pages/img30.png", style="max-width: 80%").img-fluid.img-a
        p Para evidenciar en que se aplica la multiplicación de fracciones continuemos con la situación presentada anteriormente del campesino y sus cultivos.
        .row.justify-content-around.mb-4
            .col-8.bg-color1.text-center
                p.mb-0 Teniendo en cuenta que la finca del campesino cuenta con #[b 1000 m]
                    sup #[b 2] 
                    | y la fracción de ese terreno sembrada es de #[b 17 / 35].
        p #[b A]. ¿Cuánto mide en metros cuadrados la parte del terreno que se encuentra sembrada?
        p #[b B]. Teniendo en cuenta que 2 / 7 se encuentra sembrada con papa, ¿Cuál es el área que se encuentra con papa?
        .row.justify-content-center
            .col-11
                p Para encontrar la medida o el área del terreno sembrado multiplicamos el total de metros cuadrados (1000) por la fracción que se encuentre sembrada así:
                p #[b Le ponemos el 1 de denominador al 1000 para que quede expresado como fracción].
                img(src="assets/images/pages/img31.png", style="max-width: 80%").img-fluid.img-a
                h3.txt-color1 Simplificamos:
                p Recordemos que simplificar es dividir tanto el numerador como el denominador por el mismo número primo. En este caso el #[b 17000] es divisible por #[b 2] y por #[b 5], mientras que el #[b 35] es divisible por #[b 5] y por #[b 7]. Así que dividimos ambos números por #[b 5] y nos queda:
                img(src="assets/images/pages/img32.png", style="max-width: 80%").img-fluid.img-a
                p Por último, dividimos la fracción y nos da como resultados que la cantidad de terreno que se encuentra sembrado es de #[b 485.71 m]
                    sup #[b 2]
                p La fracción quedaría.
                img(src="assets/images/pages/img33.png", style="max-width: 80%").img-fluid.img-a
    
    br#division

    .header-ecored
        h2 2.5 División de fracciones
    
    .jumbotron.shadow.bg-white
        p Para dividir dos números racionales se multiplica el numerador del primer número racional con el denominador del segundo número racional, y el numerador del segundo número con el denominador del primero. (Se multiplica en cruz) así:
        img(src="assets/images/pages/img34.png", style="max-width: 80%").img-fluid.img-a
        p Para realizar la división también se puede realizar la ley de extremos y medios.
        img(src="assets/images/pages/img35.png", style="max-width: 80%").img-fluid.img-a
        .hr
        p Ahora miremos una aplicación cotidiana.
        .row.rounded.bg-color1.align-items-center
            .col
                p.mb-0 Andrea compró un queso que pesa #[b 3 / 4] de kilo, si lo partió en porciones de #[b 1 / 8] de kilo, #[b ¿Cuántas porciones salieron de la totalidad del queso?].
            .col-auto
                img(src="assets/images/pages/img36.png", style="max-width: 60%").img-fluid.img-a1
        .row.justify-content-center
            .col-11
                p.mt-4 Lo que debemos hacer es dividir la cantidad de queso que hay entre 1/8 que es la porción que va a quedar.
                img(src="assets/images/pages/img37.png", style="max-width: 60%").img-fluid.img-a
                p La cantidad de porciones de #[b 1 / 8] que salen es de #[b 6].
    
    .card.shadow
        img(src="assets/images/pages/img38.png", style="max-width: 100%").img-fluid
        .card-body
            h3.txt-color1 ¿Sabía qué?
            p La pintura denominada el hombre de Vitruvio busca representar por medio de la simetría arquitectónica cómo sería el hombre perfecto (físicamente). 
            p.mt-3 Algunas de las conclusiones a las que llegó matemáticamente el creador Marco Vitruvio fueron las proporciones presentes en el cuerpo humano:
            .row.align-items-center
                .col-12.col-md-6
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 Desde el inicio de la barbilla hasta la parte más arriba de la frente mide #[b 1 / 10] del total de la altura.
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 La cabeza, desde la coronilla hasta el final de la barbilla mide #[b 1 / 8] en relación con la altura de todo el cuerpo.
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 Iniciando desde el cuero cabelludo hasta el final del esternón equivale a #[b 1 / 6] del total de la altura del cuerpo.
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 Desde la mitad del pecho hasta la coronilla equivale a #[b 1 / 4] del total del cuerpo.
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 La longitud de la frente mide #[b 1 / 5] en relación con todo el rostro.
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mt-1 La longitud del pie equivale al #[b 1 / 6]  del total del cuerpo. 
                .col-12.col-md-6
                    img(src="assets/images/pages/img39.png", style="max-width: 60%").img-fluid.img-a
    
    br#potencia

    .header-ecored
        h2 2.6 Potencias y raíces
    
    .jumbotron.shadow.bg-white
        h3.txt-color1 Potenciación
        p La potenciación es la multiplicación de un número (n) veces, el mismo número entero o racional, en el la base es el número racional que multiplicaremos y n (Denominado exponente) es el número de veces que multiplicamos la base.
        .row.justify-content-around.mb-4
            .col-8.bg-color1.text-center
                p.mb-0 a
                    sup n 
                    |=  a  .  a  .  a  .  a . n veces
        p Para ello podemos comprender algunas de las siguientes propiedades de las potencias.
        .row.justify-content-center
            .col-10
                table.table.table-striped.m-0
                    thead.thead-dark
                        tr
                            th.table1
                                i #[b Propiedad]
                            th.table1
                                i #[b Exposición]
                            th.table1
                                i #[b Ejemplo]
                    tbody
                        tr
                            td.table2 #[b Potencia de base cero].
                            td.table2 Cualquier potencia de base 0 es igual a 0. 0
                                sup m 
                                | = 0
                            td.table2 0
                                sup 4 
                                | = 0
                        tr
                            td.table3 #[b Potencia de exponente cero].
                            td.table3 Cualquier potencia de exponente 0 es igual a 1. X
                                sup 0 
                                | = 1
                            td.table3 5
                                sup 0 
                                | = 1
                        tr
                            td.table2 #[b Potencia de exponente 1].
                            td.table2 Cualquier potencia de exponente 1 es el mismo número. X
                                sup 1 
                                | = X
                            td.table2 7
                                sup 1 
                                | = 7
                        tr
                            td.table3 #[b Producto de potencias de la misma base].
                            td.table3 El producto de potencias de la misma base es la misma base y el exponente la suma de los exponentes. X
                                sup m 
                                | + X
                                sup n 
                                | = X
                                sup m + n
                            td.table3 2
                                sup 4 
                                | * 2
                                sup 6 
                                | = 2
                                sup 4 + 6 
                                | = 2
                                sup 10
                        tr
                            td.table2 #[b Cociente de potencias de la misma base].
                            td.table2 El producto de potencias de la misma base es la misma base y el exponente de la suma de los exponentes. X
                                sup m 
                                | / X
                                sup n 
                                | = X
                                sup m - n
                            td.table2 3
                                sup 5 
                                | / 3
                                sup 2 
                                | = 3
                                sup 5 - 2 
                                | = 3
                                sup 3
                        tr
                            td.table3 #[b Potencia de una potencia].
                            td.table3 La potencia de una potencia es la misma base y el exponente el producto de los exponentes. ( X
                                sup m 
                                | )
                                sup n 
                                | = X
                                sup m * n
                            td.table3 ( 6
                                sup 2 
                                | )
                                sup 4 
                                | = 6
                                sup 2 * 4 
                                | = 6
                                sup 8
                        tr
                            td.table2 #[b Producto de potencias con el mismo exponente].
                            td.table2 El producto de potencias con el mismo exponente es una potencia con el mismo exponente y como base el producto de las bases. X
                                sup m 
                                | * Y
                                sup m 
                                | = ( X * Y)
                                sup m
                            td.table2 2
                                sup 3 
                                | * 4
                                sup 3 
                                | = ( 2 * 4 )
                                sup 3
                        tr
                            td.table3 #[b Cociente de potencias con el mismo exponente].
                            td.table3 El cociente de potencias es una potencia con el mismo exponente y con base el cociente de las bases. X
                                sup m 
                                | / Y
                                sup m 
                                | = ( X / Y )
                                sup m
                            td.table3 6
                                sup 3 
                                | / 2
                                sup 3 
                                | = ( 6 / 2 )
                                sup 3 
                                | = 3
                                sup 3
                        tr
                            td.table2 #[b Potencia de exponente negativo].
                            td.table2 La potencia de exponente negativo es igual al inverso de la potencia, con exponente positivo. X
                                sup -m 
                                | = 1 / X
                                sup m
                            td.table2 4
                                sup -2 
                                | / 2 = 1 / 4
                                sup 2
                        tr
                            td.table3 #[b Potencia de exponente racional].
                            td.table3 La potencia de exponente racional es igual a una raíz, donde el denominador es el índice de la raíz y el numerador el exponente del radicando. X
                                sup m / n
                                | = 
                                sup n
                                |√ X
                                sup m
                            td.table3 7
                                sup 4 / 3 
                                | = 
                                sup 3
                                |√ 7
                                sup 4
        h3.txt-color1.mt-6 Radicación
        img(src="assets/images/pages/img40.png", style="max-width: 80%").img-fluid.img-a
        p La radicación es conocida como la operación contraria a la potenciación en donde se conoce el índice de la raíz y el radicando de este modo se puede encontrar un número que multiplicado el número de veces que enuncie el índice nos de como resultado el radicando.
        h3.txt-color2.text-center Propiedades de la potencia
        .row.justify-content-center
            .col-8
                table.table.table-striped.m-0
                    thead.thead-dark
                        tr
                            th.table1
                                i #[b Operación]
                            th.table1
                                i #[b Ejemplo]
                    tbody
                        tr
                            td.table2 Producto: 
                                sup n
                                | √ a * 
                                sup n
                                | √ b = 
                                sup n
                                | √ a * b
                            td.table2 
                                sup 3
                                | √ 4 * 
                                sup 3
                                | √ 6 = 
                                sup 3
                                | √ 24
                        tr
                            td.table3 Cociente: 
                                sup n
                                | √ a : 
                                sup n
                                | √ b = 
                                sup n
                                | √ a / b
                            td.table3
                                sup 3
                                | √ 4 : 
                                sup 3
                                | √ 6 = 
                                sup 3
                                | √ 4 / 6
                        tr
                            td.table2 Potencia: ( 
                                sup n
                                | √ a )
                                sup m 
                                | =  
                                sup n
                                | √ a
                                sup m
                            td.table2 ( 
                                sup 5
                                | √ 4 )
                                sup 6 
                                | =  
                                sup 5
                                | √ 4
                                sup 6
                        tr
                            td.table3 Simplificar: ( 
                                sup n
                                | √ a
                                sup n
                                | ) = a
                            td.table3 ( 
                                sup 3
                                | √ 2
                                sup 3
                                | ) = 2
                        tr
                            td.table2 Raíz de raíz: ( 
                                sup p
                                | √ 
                                sup n
                                | √ a ) = 
                                sup n * p 
                                | √ a
                            td.table2 ( 
                                sup 4
                                | √ 
                                sup 2
                                | √ 3 ) = 
                                sup 8 
                                | √ 3
                        tr
                            td.table3 Introducir: ( a 
                                sup n
                                | √ a
                                sup n
                                | ) = 
                                sup n
                                | √ a
                                sup n 
                                | * a = 
                                sup n
                                | √ a
                                sup n + 1
                            td.table3 ( 4 
                                sup 3
                                | √ 4 ) = 
                                sup 3
                                | √ 4
                                sup 3 
                                | * 4 = 
                                sup 3
                                | √ 4
                                sup 4
    
    br#operaciones3

    .header-ecored
        h2 2.7 Operaciones en los números irracionales
    
    .card.shadow
        img(src="assets/images/pages/img41.png", style="max-width: 100%").img-fluid
        .card-body
            p Las operaciones con números irracionales tienen que ver con algunas reglas o procedimientos que se realizan para reducir una expresión aritmética que contenga números irracionales y no tener que acudir a una calculadora.
            .hr
            h3.txt-color1.mt-4 Suma y resta
            .row.align-items-center
                .col-12.col-md-6
                    p Para la suma de y resta de expresiones con números irracionales debemos identificar cuáles son los términos semejantes bien sea el mismo número irracional como pi, o que la raíz tenga el mismo radicando (Número dentro de la raíz). Si se tienen términos semejantes simplemente se pueden juntar las cantidades y poner el mismo término semejante como pi + 2 pi = 3pi. Pero si por el contrario no son términos semejantes la expresión se deja expresada. Miremos algunos ejemplos con operaciones en los números irracionales.
                .col-12.col-md-6
                    img(src="assets/images/pages/img42.png", style="max-width: 40%").img-fluid.img-a1
            .row.justify-content-center
                .col-11
                    h3.txt-color2.mt-4 Ejemplo
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p.mb-0 √a + 2√a + 3√a - 4√a = 2√a
                    p Como todas las raíces son semejantes se operan los números que las acompañan y se pone la misma raíz y radicando.
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p.mb-0 √2 + 2√3 + 3√2 - 4√3 + 3√2 = ¿?
                    p En este caso existen raíces semejantes de 2 y 3, entonces operamos las raíces semejantes de cada una así:
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p √2 + 3√2 + 3√2 = 7√2
                            p.mb-0 2√3 - 4√3 = -2√3
                    p Por lo tanto, el resultado queda expresado de la siguiente forma ya que son números irracionales y para la suma y la resta no aplica la propiedad distributiva.
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p.mb-0 7√2 - 2√3
                    .row.rounded.bg-color1.align-items-center
                        .col-auto
                            img(src="assets/images/pages/img43.png", style="max-width: 60%").img-fluid.img-a1
                        .col
                            h3.txt-color2 Nota
                            p.mb-0 Para efectuar  sumas y/o  restas de radicales tienen que ser siempre semejantes.
                    p.py-4 Por lo general cuando son radicales de números muy grandes se pueden descomponer en factores primos.
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p √28 = √2
                                sup 2 
                                | 7
                                sup 1 
                                | = 2√7
                            p.mb-0 √63 = √3
                                sup 3 
                                | 7
                                sup 1 
                                | = 3√7
            h3.txt-color1.mt-4.text-center Suma y resta de radicales
            img(src="assets/images/pages/img44.png", style="max-width: 60%").img-fluid.img-a
            .hr
            h3.txt-color1.mt-4 Multiplicación
            p En el producto y la división si se da la propiedad distributiva. La raíz de un producto es igual al producto de las raíces y viceversa. Lo mismo para el cociente.
            .row.justify-content-center
                .col-11
                    h3.txt-color2.mt-4 Ejemplo
                    img(src="assets/images/pages/img45.png", style="max-width: 80%").img-fluid.img-a
                    p En este caso podemos multiplicar todos números enteros que acompañen las raíces (1, 3 y 2)  y luego como las raíces tienen el mismo índice (cúbico) podemos multiplicar todos los radicandos entre sí y dejarlos dentro de la raíz así:
                    img(src="assets/images/pages/img46.png", style="max-width: 80%").img-fluid.img-a
                    p.mb-4 Por lo tanto, el resultado es igual a 6 
                        sup 3
                        | √8.
                    p Como la  
                        sup 3
                        | √8 = 2 porque es un número que multiplicado 3 veces da como resultado 8.
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p.mb-0 2 x 2 x 2 = 8
                    p Entonces el resultado quedaría.
                    .row.justify-content-around.mb-4
                        .col-8.bg-color1.text-center
                            p.mb-0 6 x 2 = 12
            .hr
            h3.txt-color1.mt-4 División
            p Por último, enunciamos como sería la división de números irracionales.
            img(src="assets/images/pages/img47.png", style="max-width: 80%").img-fluid.img-a
            p En este caso como 24 no tiene raíz exacta y 6 tampoco (Son números irracionales) podemos aplicar la propiedad distributiva con respecto a la división de esta forma.
            img(src="assets/images/pages/img48.png", style="max-width: 80%").img-fluid.img-a
            p El resultado queda igual a 2 porque a cuatro si se le puede sacar raíz cuadrada exacta número racional.