include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Budnick, F., 1997. Matemáticas Aplicadas para Administración, Economía y Ciencias Sociales, Tercera Edición. Mc. Graw Hill. México.", "")

        +referenciaItem("Curiosfera. (06 de 05 de 2020). Curiosfera historia.", "https://curiosfera-historia.com/")

        +referenciaItem("Ecured. (06 de 05 de 2020). Ecured: Enciclopedia cubana.", "https://www.ecured.cu/EcuRed:Enciclopedia_cubana")

        +referenciaItem("Smartick . (05 de junio de 2020). Smartick: Matemáticas a un click.", "https://www.smartick.es/?f=1")

        +referenciaItem("Sullivan, M., 1997. Precálculo. Cuarta Edición. Pearson Educación. México.", "")