include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Agencia de los Estados Unidos para el Desarrollo Internacional-USAID. (2016). Lineamientos para la implementación del enfoque de derechos y la atención diferencial a grupos étnicos.", "https://pdf.usaid.gov/pdf_docs/PA00M7Q7.pdf")

        +referenciaItem("Geilfus, F. (2002). 80 Herramientas para el Desarrollo Participativo.", "http://repiica.iica.int/docs/B0850e/B0850e.pdf")

        +referenciaItem("Hammen, M. c., Sandra Frieri, M. P., & Zamora, N. C. (2012). Herramientas para la Formación en Contextos Interculturales.", "https://hdl.handle.net/11404/2633")

        +referenciaItem("Henao, C. I. (2012). Formación en gestión ambiental en grupos étnico. conceptos y principios.", "")

        +referenciaItem("Ministerio del interior República de Colombia. (s.f.). Cartilla El enfoque diferencial y Étnico en la política pública de víctimas del conflicto armado.", "https://gapv.mininterior.gov.co/sites/default/files/cartilla_enfoque_diferencial_fin_1.pdf")

        +referenciaItem("Ravanal, V. M. (2006). El enfoque Comunitario. Estudio de sus modelos de base.", "http://repositorio.uchile.cl/bitstream/handle/2250/122235/martinez-ravanal_el-enfoque-comunitario.pdf?sequence=1&isAllowed=y")

        +referenciaItem("Sterimberg, E. G., Sánchez, C. Z., Forero, A. C., & J., J. C. (2004). Diseño de un sistema de indicadores socioambientales para el distrito capital de Bogota.", "https://core.ac.uk/download/pdf/7082118.pdf")